.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: #e2e8f0;
}

.login_btn {
  font-family: "Poppins", sans-serif;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background: #16a34a;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.login_btn:hover {
  background: #166534;
}

.login > h1 {
  margin-bottom: 1.5rem;
}

.not_found {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #e2e8f0;
}

.warning_head {
  margin-bottom: 1.5rem;
}

.not_found > button {
  font-family: "Poppins", sans-serif;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
  background: #27272a;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.not_found > button:hover {
  background: #3f3f46;
}

.todo {
  height: 100vh;
  width: 100%;
  background: rgb(168, 173, 182);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo h1 {
  margin-bottom: 1rem;
  color: #1f2937;
}

.input_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
}

.input {
  width: 100%;
  min-width: 300px;
  height: 3rem;
  margin: 0 auto;
  background: #fff;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.input input {
  background: none;
  border: none;
  margin: 1rem;
  flex: 1;
}

input:focus {
  outline: none;
}

.input button {
  border: none;
  background: rgb(37 99 235);
  color: white;
  padding: 0.5rem 1.2rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-family: "Poppins", sans-serif;
}

.input button:hover {
  background: rgb(29 78 216);
}

.todo_container {
  height: 600px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(216, 217, 219);
  justify-content: end;
  border-radius: 1rem;
  padding: 1.5rem 0;
}
.todo_container > button {
  border: 1px solid #ef4444;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  background: none;
  color: #ef4444;
  border-radius: 0.2rem;
  margin-bottom: 0.5rem;
  transition: all 0.2s ease;
  font-family: "Poppins", sans-serif;
}

.todo_container > button:hover {
  color: #fff;
  background: #ef4444;
}

.todo_list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  overflow-y: scroll;
}

.todo_item {
  display: flex;
  align-items: center;
  width: 80%;
  background: white;
  margin: 0.5rem 0.4rem;
  padding: 0.8rem 1rem;
  border-radius: 0.5rem;
}

.todo_item input {
  margin-right: 0.8rem;
}

.todo_item > p {
  flex: 1;
}

.todoItem_done {
  text-decoration: line-through;
}

.warning {
  margin-top: 0.5rem;
  color: #ef4444;
  font-weight: lighter;
}
